:root {
  --bg-color: hsl(223, 6.7%, 20.6%);
  --bg-color-dark: hsl(225, 6.3%, 12.5%);
  --foreground-color: hsl(210, 9.1%, 87%);
  --foreground-color-dark: hsl(214, 8.1%, 61.2%);
}

body {
  background-color: var(--bg-color);
  color: var(--foreground-color);
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

.row {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  margin-top: 2rem;
}

.box {
  width: 30px;
  background-color: var(--foreground-color-dark);
}

.input {
  background-color: var(--bg-color-dark);
  color: var(--foreground-color);
  border: none;
  width: 9em;
  transition: width 0.25s;
}
.input:focus {
  width: 15em;
}
